<h1>HTML Forms</h1>

<form action="/users" method="post" accept-charset="UTF-8">
<div>
    <label for="username">Username</label>
    <input type="text" name="user[username]">
</div>
<div>
    <label for="email">Email</label>
    <input type="email" name="user[email]">
</div>
<div>
    <label for="password">Password</label>
    <input type="password" name="user[password]">
</div>
<div>
    <input type="submit" value="Sign Up">
<div>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>